@import "../../styles//colors.scss";
@import "../../styles/fonts.scss";

.portfolioSection {
  * {
    z-index: 2;
  }
}

.portfolioItem {
  right: 0;
  margin: 0 0 15px;
  .portfolioLink {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    .portfolioHover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all ease 0.5s;
      opacity: 0;
      background: fade-out($primary, 0.1);
      &:hover {
        opacity: 1;
      }
      .portfolioHoverContent {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white;
        i {
          margin-top: -12px;
        }
        h3,
        h4 {
          margin: 0;
        }
      }
    }
  }
  .portfolioCaption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: $white;
    h4 {
      margin: 0;
      text-transform: none;
    }
    p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      @include serif-font;
    }
  }

  .slider{
    width: 90vw;    /* Occupy the 90% of the screen width */
    max-width: 90vw;
    height: 400px;
  }
}

@media (min-width: 767px) {
  .portfolioItem {
    margin: 0 0 30px;
  }
  
  .slider{
    width: 90vw;    /* Occupy the 90% of the screen width */
    max-width: 90vw;
    height: 400px;
  }
}
